:root {
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #282024;
    --gray-900: #121214;

    --green-300: #00837E;
    --green-500: #00875f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--gray-300);
    font-weight: bold;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}